<section>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>All Articles</h1>
      <p>
      <%= link_to 'Create New Article', new_article_path %>
      </p>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>

        </tr>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td class="description"><%= article.description %></td>
            <td><%= link_to 'Edit', edit_article_path(article.id) %></td>
            <td><%= link_to 'Show', article_path(article) %></td>
            <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}  %></td>
          </tr>
        <% end %>
      </table>
        
    </div>
  </div>
</div>
</section>