<section>
<%= render 'layouts/containerset'%>
  <div class = "col-md-3 col-md-offset-3">
  <h1> View Article</h1><br>
  <h4><strong>Title: </strong> <%= @article.title %></h4>
  <p>Description: <%= @article.description %></p><br><br>
  <%= link_to 'Back to All Articles', articles_path %><br>
  <%= link_to 'Edit Article', edit_article_path(@article.id) %>
  </div>
  </div>
  </div>
</section>