<section>
  <%= render 'layouts/containerset'%>
    <div class = "col-md-6 col-md-offset-3">
      <div class="panel panel-info"> 
        <div class="panel-heading">
        <h3 class=""><strong><%= @article.title %></strong> </h3>
        </div>
        <div class="panel-body">
         <%= simple_format(@article.description) %><br><br>
         </div>
      
      <div class = "panel-footer">
        
        <%= link_to 'Back to All Articles', articles_path, class:"btn btn-xs btn-primary" %>
        <%= link_to 'Edit Article', edit_article_path(@article.id), class:"btn btn-xs btn-success" %>
        <%= link_to 'Delete Article', article_path(@article.id),  method: :delete, 
                                                                  data: {confirm: "Are you sure you want to delete this article?"},
                                                                  class:"btn btn-xs btn-danger" %>
        <div class = "article-metadata">
          <small>Created by: <%= @article.user.username if @article.user %>,
                  <%= time_ago_in_words(@article.created_at) %> ago,
                  Last updated: <%= time_ago_in_words(@article.updated_at) %> ago </small>
        </div>                                                        
      </div>
      </div>
    </div>
  </div>
  </div>
</section>